@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.typo-h1 {
		@apply text-3xl font-bold;
	}
	.typo-h2 {
		@apply text-2xl font-semibold;
	}
	.typo-h3 {
		@apply text-xl font-semibold;
	}
	.typo-subheading {
		@apply text-lg font-semibold;
	}
	.typo-body2 {
		@apply text-base font-medium;
	}
	.typo-caption {
		@apply text-sm;
	}
	.typo {
		@apply text-base;
	}
	.bg-gradient-danger {
		@apply bg-gradient-to-r from-[#ff5858] via-[#f4762d] to-[#ff1d87];
	}
	.bg-gradient-success {
		@apply bg-gradient-to-tr from-[#00ff87] to-[#60efff];
	}
	.bg-gradient-warning {
		@apply bg-gradient-to-tr from-[#e89d1f] to-[#e4e95d];
	}
	.bg-gradient-rainbow {
		background-image: linear-gradient(270deg, #ff5858, #fff95b, #00ff87, #60efff, #595cff);
	}
	.bg-gradient-info {
		@apply bg-gradient-to-tr from-indigo-700 to-cyan-400;
	}
	.backlight {
		@apply after:rounded-full after:transition-all after:duration-500 relative after:absolute after:-z-10 after:blur-lg;
	}
	.backlight-corner-br {
		@apply after:top-1/3 after:left-2/3 after:w-[50%] after:max-w-[6rem] after:min-w-[4rem] after:h-[50%] after:min-h-[2rem];
	}
	.backlight-corner-bl {
		@apply after:top-1/3 after:right-2/3 after:w-[50%] after:max-w-[6rem] after:min-w-[4rem] after:h-[50%] after:min-h-[2rem];
	}
	.backlight-corner-l {
		@apply after:top-1/4 after:right-2/3 after:w-[50%] after:max-w-[6rem] after:min-w-[4rem] after:h-[50%] after:min-h-[2rem];
	}
	.backlight-corner-r {
		@apply after:top-1/4 after:left-2/3 after:w-[50%] after:max-w-[6rem] after:min-w-[4rem] after:h-[50%] after:min-h-[2rem];
	}
	.backlight-for-focus {
		@apply after:opacity-0 after:blur-3xl focus:after:opacity-100 group-focus-within:after:opacity-100 group-focus:after:opacity-100 focus:after:blur-lg group-focus:after:blur-lg group-focus-within:after:blur-lg focus-within:after:blur-lg focus-within:after:opacity-100;
	}
	.backlight-full {
		@apply after:inset-1;
	}
	.backlight-full-sm {
		@apply after:scale-90 after:top-[5%] after:left-0;
	}
	.backlight-rainbow {
		@apply after:bg-gradient-rainbow;
	}
	.backlight-danger {
		@apply after:bg-gradient-danger;
	}
	.backlight-success {
		@apply after:bg-gradient-success;
	}
	.backlight-warning {
		@apply after:bg-gradient-warning;
	}
	.sheen {
		@apply before:transition-all before:duration-500 before:absolute before:z-10 before:bg-light-1 before:animate-sheen before:w-1/2 before:h-full before:inset-0 before:blur-lg;
	}
	.backlight-full::after,
	.backlight-full-sm::after {
		background-size: 200% 200%;
	}
	.backlight-for-focus::after {
		background-size: 100% 100%;
	}
	.text-gradient {
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	.text-gradient-success {
		@apply text-gradient text-transparent bg-gradient-success;
	}
	.text-gradient-danger {
		@apply text-gradient text-transparent bg-gradient-danger;
	}
	.text-gradient-warning {
		@apply text-gradient text-transparent bg-gradient-warning;
	}
	.text-gradient-info {
		@apply text-gradient text-transparent bg-gradient-info;
	}
	.text-gradient-rainbow {
		@apply text-gradient text-transparent bg-gradient-rainbow;
	}

	.delay-animation-500 {
		animation-delay: 500ms;
	}
	.delay-animation-750 {
		animation-delay: 750ms;
	}
	.delay-animation-1000 {
		animation-delay: 1000ms;
	}
	.fill-mode {
		animation-fill-mode: forwards;
	}
	.direction-animation {
		animation-direction: forwards;
	}
	.direction-animation-reverse {
		animation-direction: reverse !important;
	}
	.direction-animation-alternate {
		animation-direction: alternate;
	}
	.direction-animation-alternate-reverse {
		animation-direction: alternate-reverse;
	}
	input.spin-button-hidden::-webkit-outer-spin-button,
	input.spin-button-hidden::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input.spin-button-hidden[type='number'] {
		-moz-appearance: textfield;
	}
}

@layer base {
	.feather polyline,
	polygon,
	path,
	line,
	rect,
	circle {
		stroke-dasharray: 100;
	}

	body {
		@apply text-dark dark:text-light;
	}
	* {
		--scrollbar-foreground: #999
		--scrollbar-background: #000;
		/* Foreground, Background */
		scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
	  }
	  *::-webkit-scrollbar {
		width: 0px; /* Mostly for vertical scrollbars */
		height: 0px; /* Mostly for horizontal scrollbars */
	  }
	  *::-webkit-scrollbar-thumb { /* Foreground */
		background: var(--scrollbar-foreground);
	  }
	  *::-webkit-scrollbar-track { /* Background */
		background: var(--scrollbar-background);
	  }
}

@layer components {
	.button {
		@apply backlight transition-all duration-150 hover:shadow-lg outline-none relative inline-flex gap-2 items-center rounded-xs typo-body2 text-dark dark:text-light disabled:opacity-50 disabled:pointer-events-none active:scale-95 active:hover:shadow-sm;
	  }
	  .button.variant-default {
		@apply border border-dark-5 dark:border-light-5 focus:backlight-corner-r px-4 py-3 bg-dark-4 dark:bg-light-4 hover:bg-dark-3 hover:dark:bg-light-3 focus:bg-dark-3 focus:dark:bg-light-3;
	  }
	  
	  .button.variant-icon {
		@apply p-3 hover:bg-dark-4 dark:hover:bg-light-2 shadow-none focus:bg-dark-4 focus:dark:bg-light-4 after:-inset-1;
	  }
	  
	  .button.status-initial {
		@apply backlight-for-focus backlight-rainbow;
	  }
	  
	  .button.status-pending {
		@apply backlight-full pointer-events-none backlight-rainbow after:animate-glow-pulse;
	  }
	  
	  .button.status-success {
		@apply backlight-full backlight-success after:animate-shutdown backlight-full-sm;
	  }
	  
	  .button.status-error {
		@apply backlight-full animate-shake backlight-danger after:animate-shutdown backlight-full-sm direction-animation-reverse;
	  }
}