@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.typo-h1 {
		@apply text-3xl font-bold;
	}
	.typo-h2 {
		@apply text-2xl font-semibold;
	}
	.typo-h3 {
		@apply text-xl font-semibold;
	}
	.typo-subheading {
		@apply text-lg font-semibold;
	}
	.typo-body2 {
		@apply text-base font-medium;
	}
	.typo-caption {
		@apply text-sm;
	}
	.typo {
		@apply text-base;
	}
	.bg-gradient-danger {
		@apply bg-gradient-to-r from-[#ff5858] via-[#f4762d] to-[#ff1d87];
	}
	.bg-gradient-success {
		@apply bg-gradient-to-tr from-[#9bf8f4] to-[#a9ff68];
	}
	.bg-gradient-warning {
		@apply bg-gradient-to-tr from-[#e89d1f] to-[#e4e95d];
	}
	.bg-gradient-rainbow {
		background-image: linear-gradient(270deg, #ff5858, #fff95b, #00ff87, #60efff, #595cff);
	}
	.backlight {
		@apply after:transition-all after:duration-500 relative after:absolute after:-z-10 after:blur-lg;
	}
	.backlight-corner-br {
		@apply after:top-1/3 after:left-2/3 after:w-[50%] after:max-w-[4rem] after:min-w-[2rem] after:h-[50%] after:min-h-[1rem];
	}
	.backlight-for-focus {
		@apply after:opacity-0 after:blur-3xl focus:after:opacity-100 group-focus:after:opacity-100 focus:after:blur-lg group-focus:after:blur-lg group-focus-visible:after:blur-lg group-focus-within:after:blur-lg focus-within:after:blur-lg;
	}
	.backlight-full {
		@apply after:inset-1;
	}
	.backlight-full-sm {
		@apply after:scale-90 after:top-[5%] after:left-0;
	}
	.backlight-rainbow {
		@apply after:bg-gradient-rainbow;
	}
	.backlight-danger {
		@apply after:bg-gradient-danger;
	}
	.backlight-success {
		@apply after:bg-gradient-success;
	}
	.backlight-warning {
		@apply after:bg-gradient-warning;
	}
	.backlight-full::after,
	.backlight-full-sm::after {
		background-size: 200% 200%;
	}
	.backlight-for-focus::after {
		background-size: 100% 100%;
	}
	.text-gradient {
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	.text-gradient-rainbow {
		@apply text-transparent bg-gradient-rainbow;
	}

	.delay-animation-500 {
		animation-delay: 500ms;
	}
	.delay-animation-750 {
		animation-delay: 750ms;
	}
	.delay-animation-1000 {
		animation-delay: 1000ms;
	}
	.fill-mode {
		animation-fill-mode: forwards;
	}
	.direction-animation {
		animation-direction: forwards;
	}
	.direction-animation-reverse {
		animation-direction: reverse !important;
	}
	.direction-animation-alternate {
		animation-direction: alternate;
	}
	.direction-animation-alternate-reverse {
		animation-direction: alternate-reverse;
	}

	.corner-glow {
		@apply after:opacity-0 relative after:transition-all after:duration-1000 after:absolute after:bottom-0 after:right-0 after:-z-10 after:w-[4rem] after:h-[2rem] after:blur-lg focus-within:after:opacity-10000;
	}

	input.spin-button-hidden::-webkit-outer-spin-button,
	input.spin-button-hidden::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input.spin-button-hidden[type='number'] {
		-moz-appearance: textfield;
	}
}

@layer base {
	.feather polyline,
	polygon,
	path,
	line,
	rect,
	circle {
		stroke-dasharray: 100;
	}
}
