@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.typo-h1 {
		@apply text-3xl font-bold;
	}
	.typo-h2 {
		@apply text-2xl font-semibold;
	}
	.typo-h3 {
		@apply text-xl font-semibold;
	}
	.typo-subheading {
		@apply text-lg font-semibold;
	}
	.typo-body2 {
		@apply text-base font-medium;
	}
	.typo-caption {
		@apply text-sm;
	}
	.typo {
		@apply text-base;
	}
	.bg-gradient-danger {
		@apply bg-gradient-to-tr from-[#FF4326] to-[#BC0F09];
	}
	.bg-gradient-success {
		@apply bg-gradient-to-tr from-[#00ff87] to-[#60efff];
	}
	.bg-gradient-warning {
		@apply bg-gradient-to-tr from-[#e89d1f] to-[#e4e95d];
	}
	.backlight {
		@apply after:transition-all after:duration-1000 relative after:absolute after:top-[15%] after:left-0 after:-z-10 after:w-full after:h-full after:blur-lg;
	}
	.backlight-sm {
		@apply after:scale-90 after:top-[5%] after:left-0;
	}
	.backlight-rainbow:after {
		background-image: linear-gradient(90deg, #ff5858, #fff95b, #00ff87, #60efff, #595cff);
	}
	.backlight-danger {
		@apply after:bg-gradient-to-r after:from-[#ff5858] after:via-[#f4762d] after:to-[#ff1d87];
	}
	.backlight-success {
		@apply after:bg-gradient-to-r after:from-[#6eee87] after:to-[#5fc52e];
	}
	.backlight:after {
		background-size: 200% 200%;
	}
	.text-gradient-rainbow {
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(120deg, #ff5858, #fff95b, #00ff87, #60efff, #595cff);
		@apply text-transparent;
		background-size: 150% 150%;
	}

	.delay-animation-500 {
		animation-delay: 500ms;
	}
	.delay-animation-750 {
		animation-delay: 750ms;
	}
	.delay-animation-1000 {
		animation-delay: 1000ms;
	}
	.fill-mode {
		animation-fill-mode: forwards;
	}
	.direction-animation {
		animation-direction: forwards;
	}
	.direction-animation-reverse {
		animation-direction: reverse !important;
	}
	.direction-animation-alternate {
		animation-direction: alternate;
	}
	.direction-animation-alternate-reverse {
		animation-direction: alternate-reverse;
	}
}

@layer base {
	.feather polyline,
	polygon,
	path,
	line,
	rect,
	circle {
		stroke-dasharray: 100;
	}
}
